<h2>Book detail</h2>

  <div>
    <%= image_tag @book.user.get_image %>

    <%= link_to @book.title %>
    <%= @book.body %>
  </div>

<% if @book.user_id==current_user.id %>
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  <%= link_to 'Destroy',book_path(@book.id), method: :delete %>
<% end %>