<h2>Book detail</h2>

<%= image_tag @user.get_image %>
<%= link_to @user.name, user_path %>
<%= link_to @book.title, book_path %>
<p><%= @book.body %></p>

<% if @user==current_user %>
  <%= link_to 'Edit', edit_book_path(@user) %>
  <%= link_to 'Destroy',book_path(@book), method: :delete %>
<% end %>